<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/Home.css">
    <link rel="stylesheet" href="./css/Layout.css">
    <title>Pizza Store</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="navbar">
                <a href="#" class="nav active">Home</a>
                <a href="./Pizza" class="nav">Pizzas</a>
                <a href="./Toppings" class="nav">Toppings</a>
            </div>
            <div class="content">
                <h1>Welcome to the Pizza Store</h1>
                <h2>A place to create custom pizzas to your likings.</h2>
            </div>
        </div>
    </div>
</body>
</html>